<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color: #008000;">
  <a class="navbar-brand" href="#">HashFinancial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Current News</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/live">Live Stock Price</a>
      </li>

    </ul>
  </div>
</nav>